%transition {
  transition: color .5s;
}
%transition-background {
  transition: background-color .5s;
}
%font-add {
  font-family: Inika, Verdana, sans-serif;
}
%font-prim {
  font-family: Inter, Verdana, sans-serif;
}
