%transition {
  transition: color .7s;
}
%transition-background {
  transition: background-color .7s;
}
%font-add {
  font-family: Inika, Verdana, sans-serif;
}
%font-prim {
  font-family: Inter, Verdana, sans-serif;
}