.header {
  background: $color-backgraund;
  padding: 4.2rem 0;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
}
.header__logo-image {
}
.header__logo-title {
  @extend %font-add;
  @include font(1.6rem, 400, normal);
}
.header__nav {
}
.navigation {
  display: flex;
}
.nav-link {
  @extend %font-add;
  list-style: none;
  cursor: pointer;
}
.nav-link:not(:last-child) {
  padding-right: 4.6rem;
}
