.header {
  background-color: $color-backgraund;
  padding: 54px 53px 62px 53px;
  @include media-laptop {
    padding: 49px 51px 62px 48px;
  }
  @include media-mobile {
    padding-top: 37px;
    padding-left: 23px;
  }
}
.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
  align-items: center;
}
.logo-image {
  display: block
}
.header__logo-title {
  @extend %font-add;
  @include font(1.6rem, 400, normal);
}
.header__nav {
  @include media-mobile {
    display: none;
  }
}
.navigation {
  display: flex;
  flex-wrap: wrap;
}
.nav-link {
  @extend %font-add;
  cursor: pointer;
}
.nav-link:not(:last-child) {
  padding-right: 47px;
}
.nav-link:hover {
  color: $color-prime;
  @extend %transition;
}
