.prices {
  padding: 40px 0 102px;
}
.container-2-columns {
  display: flex;
  justify-content: space-between;
}
.prices__left-side {
  width: 63%;
}
.prices__h2-left {
  font-family: Inter;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 59px;
}
.prices__blok-accordion {
  border: 1px solid #e3e1d5;
  border-radius: 20px;
  padding: 33px 39px;
  width: 43%;
}
.prices__accordion-basics-container {
  border-radius: 20px;
  background: $color-backgraund;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 41px 12px 40px;
  // max-width: 170px;
  margin-bottom: 20px;
}
.prices__accordion-title {
// margin-right: 10px;
// color: rgb(0, 0, 0);
// font-family: Inter;
font-size: 20px;
font-weight: 700;
// line-height: 20px;
// letter-spacing: 0%;
// text-align: left;
}
.prices__accordion-image {

}
.prices__accordion-standard-container {
  border-radius: 20px;
  background: $color-backgraund;
}
.prices__accordion-pro-care-container {
  border-radius: 20px;
  background: $color-backgraund;
}
.prices__right-side {
  width: 37%;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.prices__h2-right {
  font-family: Inter;
  font-weight: 700;
  line-height: 48px;
  text-align: right;
  margin-bottom: 45px;
}
.prices__button-container {
  margin-bottom: 35px;
}
.prices__button {
  padding: 11px 37px 11px 29px;
}
.prices__image-container {
  width: 35%;
}
