.prices {
  padding: 40px 0 104px 0;
}
.prices__wrapper {
  max-width: 1239px;
  margin: 0 auto;
}
.prices__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.prices__left-side {
  padding-left: 8px;
  margin-bottom: 24px;
}
.prices__h2-left {
  @extend %font-prim;
  font-weight: 700;
  line-height: 4.8rem;
  margin-bottom: 60px;
}
.prices__accordion-container {
  border: 1px solid #e3e1d5;
  border-radius: 20px;
  padding: 33px 40px;
}
.prices__accordion-item {
  border-radius: 20px;
  background: $color-backgraund;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px 12px 40px;
}
.prices__accordion-item:not(:last-child) {
  margin-bottom: 32px;
}
.prices__accordion-title {
  font-size: 2rem;
  font-weight: 700;
  margin-right: 64px;
}
.prices__right-side {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.prices__title-right {
  @include font(4rem, 700, 5rem);
  max-width: 460px;
  text-align: right;
  margin-bottom: 40px;
  padding-right: 8px;
}
.prices__button-container {
  margin-bottom: 34px;
  padding-right: 8px;
}
.prices__button {
  padding: 11px 34px 11px 31px;
  font-weight: 700;
}
