.service {
  background: $color-backgraund;
  padding: 40px 15px 121px;
  @include media-laptop {
    padding: 60px 50px 121px;
  }
}
.service__head {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 80px;
  @include media-laptop {
    margin-bottom: 41px;
  }
}
.service__h2 {
  max-width: 295px;
  margin-right: 153px;
  @include media-laptop {
    margin-right: 0;
    margin-bottom: 42px;
  }
}
.service__buttons {
  padding: 29px 0 0 0;
  @include media-laptop {
    padding: 0;
  }
}
.button {
  border-radius: 5px;
  border: 1px solid $color-prime;
  color: $color-prime;
  background: transparent;
  @extend %font-add;
  @include font(2rem, 400, normal);
  cursor: pointer;
}
.button:hover {
  background: $color-prime;
  @extend %transition-background;
  color: $color-light;
  @extend %transition;
}
.button-gardens {
  padding: 11px 44px 11px 39px;
  margin-right: 34px;
}
.button-lawn {
  padding: 11px 54px 11px 53px;
  margin-right: 33px;
}
.button-planting {
  padding: 11px 43px 11px 39px;
}
.service__body {
  display: flex;
  flex-wrap: wrap;
  gap: 55px 116px;
}
.service__item {
  display: flex;
  flex-direction: column;
}
.service__image-1 {
  background-image: url(../../assets/image/service__first.png);
  @include images(329px, 350px);
  @include media-laptop {
    background-image: url(../../assets/image/service__first-768.png);
    @include images(280px, 350px);
  }
}
.service__image-2 {
  background-image: url(../../assets/image/service__second.png);
  @include images(329px, 350px);
  @include media-laptop {
    background-image: url(../../assets/image/service__second-768.png);
    @include images(280px, 350px);
  }
}
.service__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0px 0px 20px 20px;
  border: 1px solid #e3e1d5;
  width: 329px;
  height: 100px;
  padding-top: 9px;
  @include media-laptop {
    width: 280px;
    height: 100px;
  }
}
.service__item-title {
  color: $color-prime;
  margin-bottom: 15px;
}
