.welcome {
  background: $color-backgraund;
  background-position: 50% 50%;
  padding: 48px 0 61px 0;
  @include media-laptop {
    padding: 17px 50px 70px 50px;
  }
}
.welcome__wrapper {
  max-width: 1242px;
  margin: 0 auto;
}
.welcome__container {
  display: flex;
  justify-content: space-between;
  @include media-laptop {
    flex-direction: row-reverse;
  }
}
.welcome__content {
  padding: 42px 0 0 0;
  max-width: 559px;
  @include media-laptop {
    max-width: 350px;
    padding: 0;
  }
}
.welcome__h1 {
  margin-bottom: 44px;
  @include media-laptop {
    padding-top: 8px;
    margin-bottom: 30px;
  }
  @include media-mobile {
    padding-top: 0;
  }
}
.welcome__text {
  max-width: 549px;
  color: $color-text;
  @include font(2rem, 400, 175%);
  margin-bottom: 47px;
  @include media-laptop {
    @include font(1.6rem, 400, 2.5rem);
    padding-left: 5px;
    margin-bottom: 35px;
  }
}
.welcome__button {
  padding: 11px 26px;
  background: transparent;
  border-radius: 10px;
  border: 2px solid $color-prime;
  cursor: pointer;
}
.welcome__button:hover {
  background: $color-prime;
  @extend %transition-background;
  color: $color-light;
  @extend %transition;
}
.welcome__leafs {
  width: 463px;
  height: 415px;
  background-image: url(../../assets/image/welcome__leafs.png);
  background-size: cover;
  background-position: center;
  @include media-laptop {
    width: 284px;
    height: 263px;
  }
}
