.welcome {
  background: $color-backgraund;
  padding: 5.2rem 0;
}
.welcome__wrapper {
  max-width: 124rem;
  margin: 0 auto;
}
.container-2-columns {
  display: flex;
  justify-content: space-between;
}
.welcome__leafs {
  width: 50%;
}
.welcome__content {
  width: 45%;
  padding-top: 46px;
}
h1 {
  margin-bottom: 44px;
}
.welcome__h1-span {
  color: $color-additional;
}
.welcome__text {
  color: $color-text;
  @include font(20px, 400, 175%);
  width: 95%;
  margin-bottom: 47px;
}
.welcome__button {
}
.welcome__button {
  padding: 11px 26px;
  background: transparent;
  border-radius: 10px;
  border: 2px solid $color-prime;
  cursor: pointer;
}
.welcome__button:hover {
  background: $color-prime;
  @extend %transition-background;
  color: $color-light;
  @extend %transition;
}