.welcome {
  background: $color-backgraund;
  padding: 52px 0;
}
.welcome__wrapper {
  max-width: 1235px;
  margin: 0 auto;
}
.welcome__container-2-columns {
  display: flex;
  justify-content: space-between;
}
.welcome__content {
  padding: 45px 4px 0 220px;
}
h1 {
  margin-bottom: 44px;
}
.welcome__text {
  color: $color-text;
  @include font(2rem, 400, 175%);
  margin-bottom: 47px;
}
.welcome__button {
  padding: 11px 26px;
  background: transparent;
  border-radius: 10px;
  border: 2px solid $color-prime;
  cursor: pointer;
}
.welcome__button:hover {
  background: $color-prime;
  @extend %transition-background;
  color: $color-light;
  @extend %transition;
}
